@import './header.css';
@import './hero.css';
@import './problemas.css';
@import './soluciones.css';
@import './porque-biofoam.css';
@import './sectores.css';
@import './experiencia.css';
@import './presencia.css';
@import './recursos.css';
@import './contacto.css';
@import './contacto.css';




:root {

    --azul: #011ADD;
    --verde: #7ED957;

    --negro: #050505;
    --oscuro: #0D0D0D;
    --gris: #141414;

    --blanco: #FFFFFF;
    --texto: #B5B5B5;

    --contenedor: 1400px;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:var(--negro);
    color:var(--blanco);

    font-family: 'Montserrat', sans-serif;

}

a{
    text-decoration:none;
}

img{
    width:100%;
    display:block;
}